<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PLTFM Terms & Conditions</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;300;500;700&family=Inter:wght@200&family=Newsreader:wght@500;800&family=Space+Grotesk:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        box-sizing: border-box;
        font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, Segoe UI,
          Roboto, Oxygen, sans-serif;
      }
      .font-inter {
        font-family: "Inter Tight", sans-serif;
      }
    </style>
  </head>
  <body
    class=""
  >
    <div class="container mx-auto px-6 md:px-0 py-10">
      <header>
        <h1 class="text-2xl text-white md:text-black font-extrabold">PLTFM</h1>
        <nav>
          <ul class="flex space-x-4 text-white">
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </nav>
      </header>
      <main class="flex flex-col md:mt-16">
        <div class="flex-col md:bg-transparent mt-8 md:mt-0 block p-10">
          <h1 class="text-5xl">PLTFM Terms & Conditions</h1>
          <section class="mt-10 mb-5">
            <h2 class="text-3xl">Introduction</h2>
            <p class="py-5">
              These terms and conditions (“ToCs”) apply between you, the User of
              this Application (“App”) (including any sub-domains, unless
              expressly excluded by their own terms and conditions), and PLTFM
              Technologies Limited (“PLTFM”), the owner and operator of this
              App. Please read these ToCs carefully, as they affect your legal
              rights. Your agreement to comply with and be bound by these ToCs
              is deemed to occur upon your first use of the App. If you do not
              agree to be bound by these ToCs, you should stop using this App
              immediately. In these ToCs, User or Users means any third party
              that accesses the App and is not either (i) employed by PLTFM and
              acting in the course of their employment or (ii) engaged as a
              consultant or otherwise providing services to PLTFM and accessing
              the App in connection with the provision of such services.
            </p>
            <p class="py-5">
              You must be at least 18 years of age to use this App. By using
              this Website and agreeing to these ToCs, you represent and warrant
              that you are at least 18 years of age.
            </p>
          </section>
          <section class="mb-5">
            <h2 class="text-3xl">Intellectual property and acceptable use</h2>
            <p class="py-5">
              All Content included on this App, unless uploaded by Users, is the
              property of PLTFM, our affiliates or other relevant third parties.
              In these ToCs, Content means any text, graphics, images, audio,
              video, software, data compilations, page layout, underlying code
              and software and any other form of information capable of being
              stored in a computer that appears on or forms part of this App,
              including any such content uploaded by Users. By continuing to use
              this App you acknowledge that such Content is protected by
              copyright, trademarks, database rights and other intellectual
              property rights. Nothing on this site shall be construed as
              granting, by implication, estoppel, or otherwise, any license or
              right to use any trademark, logo or service mark displayed on the
              site without the owner's prior written permission you may, for
              your own personal, non-commercial use only, do the following:
              retrieve, display and view the Content on a computer screen or
              mobile phone. You must not otherwise reproduce, modify, copy,
              distribute or use for commercial purposes any Content without the
              written permission of PLTFM.
            </p>
            <p class="py-5">
              You acknowledge that you are responsible for any Content you may
              submit via the App, including the legality, reliability,
              appropriateness, originality and copyright of any such Content.
              You may not upload to, distribute or otherwise publish through
              this App any Content that (i) is confidential, proprietary, false,
              fraudulent, libellous, defamatory, obscene, threatening, invasive
              of privacy or publicity rights, infringing on intellectual
              property rights, abusive, illegal or otherwise objectionable; (ii)
              may constitute or encourage a criminal offence, violate the rights
              of any party or otherwise give rise to liability or violate any
              law; or (iii) may contain software viruses, political campaigning,
              chain letters, mass mailings, or any form of "spam." You may not
              use a false email address or other identifying information,
              impersonate any person or entity or otherwise mislead as to the
              origin of any content. You may not upload commercial content onto
              the App. You represent and warrant that you own or otherwise
              control all the rights to the Content you post; that the Content
              is accurate; that use of the Content you supply does not violate
              any provision of these ToCs and will not cause injury to any
              person; and that you will indemnify PLTFM for all claims resulting
              from Content you supply.
            </p>
          </section>
          <section class="mb-5">
            <h2 class="text-3xl">Prohibited use</h2>
            <p class="py-5">
              You may not use the App for any of the following purposes: in any
              way which causes, or may cause, damage to the App or interferes
              with any other person's use or enjoyment of the App; in any way
              which is harmful, unlawful, illegal, abusive, harassing,
              threatening or otherwise objectionable or in breach of any
              applicable law, regulation, governmental order; making,
              transmitting or storing electronic copies of Content protected by
              copyright without the permission of the owner.
            </p>
          </section>
          <section class="mb-5">
            <h2 class="text-3xl">Registration</h2>
            <p class="py-5">
              You must ensure that the details provided by you on application or
              at any time are correct and complete. You must inform us
              immediately of any changes to the information that you provide
              when applying by updating your personal details to ensure we can
              communicate with you effectively. We may suspend or cancel your
              application with immediate effect for any reasonable purposes or
              if you breach these ToCs. You may cancel your application at any
              time by informing us in writing to the email address at the end of
              these ToCs. If you do so, you must immediately stop using the App.
              Cancellation or suspension of your application does not affect any
              statutory rights.
            </p>
          </section>
          <section class="mb-5">
            <h2 class="text-3xl">Password and security</h2>
            <p class="py-5">
              When you apply on this App, you may be asked to create a
              password, which you should keep confidential and not disclose or
              share with anyone. If we have reason to believe that there is or
              is likely to be any misuse of the App or breach of security, we
              may require you to change your password or suspend your account.
            </p>
          </section>
          <section class="mb-5">
            <h2 class="text-3xl">Links to other websites</h2>
            <p class="py-5">
              This App may contain links to other sites. Unless expressly
              stated, these sites are not under the control of PLTFM or that of
              our affiliates. We assume no responsibility for the content of
              such websites and disclaim liability for any and all forms of loss
              or damage arising out of the use of them. The inclusion of a link
              to another website on this App does not imply any endorsement of
              the websites themselves or of those in control of them.
            </p>
            <p class="py-5">
              Use of the App is also governed by our Privacy Policy, which is
              incorporated into our terms and conditions (link here) by this
              reference.
            </p>
          </section>
          <section class="mb-5">
            <h2 class="text-3xl">Availability of the App and disclaimers</h2>
            <p class="py-5">
              ‍Any online facilities, tools, services or information that PLTFM
              makes available through the App (the Service) is provided "as is"
              and on an "as available" basis. We give no warranty that the
              Service will be free of defects and/or faults. To the maximum
              extent permitted by the law, we provide no warranties (express or
              implied) of fitness for a particular purpose, accuracy of
              information, compatibility and satisfactory quality. PLTFM is
              under no obligation to update information on the App. Whilst PLTFM
              uses reasonable endeavours to ensure that the Website is secure
              and free of errors, viruses and other malware, we give no warranty
              or guaranty in that regard and all Users take responsibility for
              their own security, that of their personal details and their
              computers. PLTFM accepts no liability for any disruption or
              non-availability of the App. PLTFM reserves the right to alter,
              suspend or discontinue any part (or the whole of) the App
              including, but not limited to, any products and/or services
              available. These terms and conditions shall continue to apply to
              any modified version of the Website unless it is expressly stated
              otherwise.
            </p>
          </section>
          <section class="mb-5">
            ‍
            <h2 class="text-3xl">Limitation of liability</h2>
            <p class="py-5">
              ‍Nothing in these ToCs will: (a) limit or exclude our or your
              liability for negligence conduct, as applicable; (b) limit or
              exclude our or your liability for fraud or fraudulent
              misrepresentation; or (c) limit or exclude any of our or your
              liabilities in any way that is not permitted under applicable
              law.To the extent that the App and Content are provided free of
              charge, we will not be liable to you for any loss or damage of any
              kind. We will not be liable to you in respect of any losses
              arising out of events beyond our reasonable control. To the
              maximum extent permitted by law, PLTFM accepts no liability for
              any of the following: any business losses, such as loss of
              profits, income, revenue, anticipated savings, business,
              contracts, goodwill or commercial opportunities; loss or
              corruption of any data, database or software; any special,
              indirect or consequential loss or damage.
            </p>
          </section>
          <section class="mb-5">
            <h2 class="text-3xl">General</h2>
            <p class="py-5">
              ‍You may not transfer any of your rights under these ToCs to any
              other person. We may transfer our rights under these ToCs where we
              reasonably believe your rights will not be affected. These ToCs
              may be varied by us from time to time. Such revised terms will
              apply to the App from the date of publication. Users should check
              the ToCs regularly to ensure familiarity with the then current
              version. These ToCs together with the Privacy Policy contain the
              whole agreement between the parties relating to its subject matter
              and supersede all prior discussions, arrangements or agreements
              that might have taken place in relation to these ToCs. The
              Contracts (Rights of Third Parties) Act 1999 shall not apply to
              these terms and conditions and no third party will have any right
              to enforce or rely on any provision of these ToCs. If any court or
              competent authority finds that any provision of theseToCs (or part
              of any provision) is invalid, illegal or unenforceable, that
              provision or part-provision will, to the extent required, be
              deemed to be deleted, and the validity and enforceability of the
              other provisions of these ToCs will not be affected. Unless
              otherwise agreed, no delay, act or omission by a party in
              exercising any right or remedy will be deemed a waiver of that, or
              any other, right or remedy.
            </p>
            <p class="py-5">
              Any dispute arising out of or in connection with this Agreement,
              including any question regarding its existence, validity or
              termination, shall be referred to and finally resolved by
              arbitration under the LCIA Rules, which Rules are deemed to be
              incorporated by reference into this clause. The number of
              arbitrators shall be one. The seat, or legal place, of arbitration
              shall be London, England. The language to be used in the arbitral
              proceedings shall be English. The governing law of this Agreement
              shall be the substantive laws of England and Wale.
            </p>
            ‍
          </section>
          <section class="mb-5">
            ‍
            <h2 class="text-3xl">PLTFM details</h2>
            <p class="py-5">
              PLTFM Technologies Limited t/a PLTFM is a company limited by
              shares incorporated in England and Wales (14773451) with its
              Business Office address at 186-90 Paul Street, EC2A 4NE, London,
              England, United Kingdom. You can contact PLTFM by email on
              <a href="mailto:hello@pltfm.co">hello@pltfm.co</a>
            </p>
          </section>
          <p class="py-5">Last updated: 10 September 2023</p>
        </div>
      </main>
      <footer
        class="bg-black md:bg-transparent items-center justify-center text-center pt-8"
      >
        <div
          class="font-inter w-full h-full max-w-screen-xl mx-auto p-4 md:py-8"
        >
          <span
            class="font-inter block text-sm text-white md:text-black sm:text-center"
            >&copy; 2023
            <a href="https://www.pltfm.co/" class="font-inter hover:underline"
              >PLTFM Technologies Limited</a
            >.</span
          >
        </div>
      </footer>
    </div>
  </body>
</html>
